<div class="container-fluid px-4">
  <h1 class="mt-4">Control</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Panel</li>
  </ol>
<div class="container">

<div class="row">
<div class="col-12 center">


</div>

</div>





<div class="row">
<div class="col-4 center pizza-info">
<!-- This content will take up 3/12 (or 1/4) of the container -->
<h2>Temperature Control</h2>
<img src="small.png" width="150">
<h3>
<div>
  Level: <span class="smallTotalOne"> 0 </span> °C
</div>
</h3>

<div class="circleButton plusButton1">

<div>

  <button class="circleButton plusButton1" type="button" name="button">+</button>

</div>

</div>


<div class="circleButton plusButton1">

<div>

  <button class="circleButton minusButton1">-</button>

</div>
</div>



</div>
<div class="col-4 center pizza-info">
<!-- This content will take up 3/12 (or 1/4) of the container -->
<h2>Pesticide Control</h2>
<img src="pest.png" width="150">
<h3>
<div>
  Level: <span class="mediumTotalOne"> 0 </span> kg
</div>
</h3>

<div class="circleButton plusButton2">

<div>

  <button class="circleButton plusButton2" type="button" name="button">+</button>

</div>

</div>

<div class="circleButton plusButton2">

<div>

  <button class="circleButton minusButton2">-</button>

</div>
</div>

</div>



<div class="col-4 center pizza-info">
<!-- This content will take up 6/12 (or 1/2) of the container -->
<h2>Fertigation Control</h2>
<img src="Fertigation.png" width="150">
<h3>
<div>
  Level: <span class="largeTotalOne"> 0 </span> L
</div>
</h3>

<div class="circleButton plusButton3">

<div>

  <button class="circleButton plusButton3" type="button" name="button">+</button>

</div>

</div>

<div class="circleButton plusButton3">

<div>

  <button class="circleButton minusButton3">-</button>

</div>
</div>

</div>




</div>
</div>
</div>

